mat-card {
  max-width: 80%;
  margin: 2em auto;
}

.main-container{
 &__toolbar-lesson {
  margin-top: 10px
 }
}

mat-error {
  font-size: 11px;
}

.full-width {
  margin-top: 1em;
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.btn-action {
  display: flex;
  justify-content: flex-end;
}

.btn-action button {
  margin-left: 1em;
}

.form-array-error {
  text-align: left;
}
