<mat-card class="main-container">
  <mat-toolbar color="primary"> Cursos Disponiveis </mat-toolbar>

  <div class="column-flex mat-elevation-z8">
    <app-courses-list
      *ngIf="courses$ | async as courses; else loading"
      [courses]="courses"
    ></app-courses-list>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
        >
        </mat-progress-spinner>
      </div>
    </ng-template>
  </div>
</mat-card>
