<mat-table  [dataSource]="courses">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
    <mat-cell *matCellDef="let course"> {{ course.name }} </mat-cell>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
    <mat-cell *matCellDef="let course"> {{ course.category }}
      <mat-icon aria-hidden="false" aria-label="Categoria do Curso"> {{ course.category.toLowerCase() | category }}
      </mat-icon>
    </mat-cell>

  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="add">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button (click)="onAdd()"  mat-mini-fab color="accent" aria-label="Adicionar um curso">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let course" class="action-column">
      <button (click)="onEdit(course)" mat-icon-button color="primary" aria-label="Editar curso">
        <mat-icon >edit</mat-icon>
      </button>

      <button (click)="onRemove(course)" mat-icon-button color="warb" aria-label="Remover curso">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
